body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(217, 212, 212);*/
    font-family: Arial, sans-serif;
    /*background: linear-gradient(75deg, #ff6b6b, #feca57, #48dbfb, #1dd1a1);*/
    /*background: linear-gradient(45deg, #cac6c6, #dcdcdc);*/
    background: linear-gradient(to bottom, rgb(212, 211, 211), #e5f0ae);
}
.super{
    padding: 18px 60px 20px 60px; 
}
.container-of-LR {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px 20px 150px ;
    gap: 30px;
    flex-wrap: wrap;
}

/*Left*/
.left{
    background-color: rgb(245, 238, 238);
    height: 700px;
    width: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transform: translateX(0) scale(1); 
    transition: all 0.3s ease;
}
.left:hover{
    transform: translateX(0) scale(1.04);
}
.Photo{
    display: flex;
    justify-content: center;
}
.Details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 24px;
    margin: 0px 0px 0px 0px;
}
.Name{
    font-size: 34px;
    font-family:sans-serif;
    text-align: center;
    color: rgb(0, 38, 255);
}
.Name-Style{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60px;
    margin-top: 7px;
}
#My-img{
    margin: 25px  0px  0px  0px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 25px 0px rgba(255, 153, 0, 0.6);
    object-fit: contain;
}
#caller{
    height: 19px;
    width: 19px;
}
#Gmail{
    height: 23px;
    width: 23px;
}
#Proj-img{
    height: 30px;
    width: 30px;
}
.project-sec{
    display: flex;
    justify-content:  start;
    width:100%;
    padding: 20px 0px 0px 20px;
}
.project-sec p{
    font-size: 28px;
    margin: 0px 0px 8px 8px;
}
.project-sec:hover{
    color: blueviolet;
}

/*Right*/
.right {
    flex: 1;
    max-width: 800px;
    background-color: rgb(245, 245, 245);
    padding: 10px 35px 35px 35px;
    border-radius: 15px;
    transition: 0.35s ease-in-out;
}  
.right:hover{
    /*transform: translateX(-100px);*/
    transform: scale(1.04);
}
.right h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.right h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.highlight {
    color: #0066ff;
    font-weight: bold;
}
.About {
    font-size: 21px;
    line-height: 1.3;
    font-style: italic;
}
ul.custom-bullet {
    list-style: none;
    padding-left: 0; 
}
ul.custom-bullet li::before {
    content: "✔️";
    margin-right: 8px;
    color: green;
}
.List{
    list-style: none;
    font-size: 23px;
    line-height: 1.3;
    font-style: italic;
}
h3{
    font-size: 40px;
    line-height: 0.8;
    font-style: italic;
    text-decoration: underline;
}
.social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.social-icons img:hover{
    transform: scale(1.35);
}
.name{
    font-size: 40px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-style: italic;
}
.super{
    position: relative;
    bottom: 45px;
}
h2{
    text-decoration: underline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*hero sections*/
.hero1{
    padding: 0 30px 0 30px ;
    margin: 75px 113px 0 116px;
}
.Ename{
    font-size: 34px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.edu-sec{
    background-color: white;
    border-radius: 14px;
    height: 250px;
    transition: 0.4s linear;
}
.edu-sec img{
    height: 40px;
    width: 40px;
    margin-left: 8px;
}
.edu-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.edu-sec:hover>.edu-name{
    color: rgb(225, 11, 82);
}
.edu-sec:hover{
    transform: scale(1.3);
}
.cert-sec{
    background-color: white;
    border-radius: 14px;
    height:330px;
    transition: 0.4s linear;
    margin: 60px 0 0 0;
}
.cert-sec img{
    height: 40px;
    width: 40px;
    margin-left: 8px;
}
.cert-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.cert-sec:hover>.cert-name{
    color: blue;
}
.Hobbie-sec{
    background-color: white;
    border-radius: 14px;
    height:290px;
    transition: 0.4s linear;
    margin: 60px 0 0 0;
}
.Hobbie-sec img{
    height: 40px;
    width: 40px;
    margin-left: 8px;
}
.Hobbie-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.Hobbie-sec:hover>.Hobbie-name{
    color: rgb(5, 172, 233);
}
/*Scrolling animation*/
.hidden-on-scroll{
    opacity: 0;
    transform: translateY(45px) scale(0.85);
    transition: all 1.3s ease;
}
.hidden-on-scroll.show{
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-delay: 0.1s;
} 
.hidden-on-scroll.show:hover {
    transition: 0.35s ease-in;
    transform: translateY(0) scale(1.04);
}

.hidden-on-scroll2{
    opacity: 0;
    transform: translateX(100px);
    transition: all 1.35s ease
}
.hidden-on-scroll2.Heffect{
    opacity:1;
    transform: translateX(0) scale(1);
}

.hidden-on-scroll3{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.35s ease
}
.hidden-on-scroll3.Heffect2{
    opacity:1;
    transform: translateX(0);
}

@media only screen and (max-width:1070px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .left{
        position: relative;
    }
}

